

/* 전체 선택자 */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* box-sizing  박스의 크기를 어떤 것을 기준으로 계산할지를 정하는 속성
    border-box  테두리를 기준으로 정한다는 의미
    참고 링크: https://www.codingfactory.net/10630 */
    
}

/* body내의 선택자 */

body {
    background-color: ivory;

    /* display에 대한 부분
    https://studiomeal.com/archives/197 <- flex에 대한 너무 너무 자세한 설명! 꼭 보기 */
    
    display: flex; /*flex는 가로 방향으로 배치됨, 자신이 가진 내용물의 width만큼 차지함*/
    flex-direction: column; /*아이템을 열(세로,row)방향으로 배치함, 마치 요소들을 쌓아놓은 것 처럼 보임!! */
    justify-content: center;/* Align the flex items at the center of the container, 컨테이너에 있는 플렉스 아이템을 가운데로 정렬함*/
    align-items: center; /* 교차축을 기준으로 아이템을 정렬함 */
    height: 100vh;
    /*부모의 값에 상관없이 값을 결정하고 싶을때 vh를 쓴다.
    vh = view height 
    관련 설명 링크: https://dream-frontend.tistory.com/27  */
    
} 

/* Rainbow Calculator 라는 글자에 대한 속성 모음  */
h1 {
    margin-bottom: 150px;
    font-size:2em;
    font:bold 3.5vw/1.6 'Signika', sans-serif;  /*'Signika', sans-serif는 글꼴 지정*/
    user-select:none;
}

h1 span { 
    display:inline-block; /*가로로 배치*/
    animation:float .2s ease-in-out infinite; 
}
/* 보류중
body:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}
*/
 @keyframes float {

  0%,100%{ transform:none; } /*keyframes의 0%와 100%는 각각 시작과 끝을 의미함.*/
  33%{ transform:translateY(-1px) rotate(-2deg); } /* translateY 좌표이동 , rotate(-2deg) 회전 */
  66%{ transform:translateY(1px) rotate(2deg); } /* px와 deg는 단위일뿐*/

  /*css에서 애니메이션 효과를 쓰려면 애니메이션에 대한 키프레임을 정의해야 한다.
   @keyframes은 특정 '시간'에 해당하는 요소가 가져야 할 'css스타일'을 명시한다.
   0%에는 처음 스타일을, 100%에는 마지막 스타일을 명시하고 중간에 원하는 수만큼의 키프페임을 생성할 수 있다.
    참고링크: http://www.tcpschool.com/css/css3_transform_animation

    transform은 변형 효과임. 해당 요소의 모양,크기,위치.회전,변형을 쓸 수 있다.



    */
}


/* div로 묶은 계산기의 class를 지정해주는 부분 */
.calculator {
    
    width: 287px; /*총 테두리와 패딩, 버튼 전부 다 더한 값*/
    border: 1px solid rgb(226, 107, 147); /*계산기의 테두리*/
    background-color: rgb(241, 134, 134); /* 계산기의 배경 색상: 회색으로 */
    padding: 5px; /**/
    
}


.calculator form {

    /* grid 부분 */
    display: grid; /* grid는 두 방향(가로,세로) 레이아웃 시스템(2차원) */
    grid-template-columns: repeat(4, 65px); /* 열(가로)의 높이 지정, cols가 가로가 아니라 columns가 가로라는 의미 */
    grid-auto-rows: 65px; /* 행(세로)의 높이 지정 */
    grid-gap: 5px; /*gird의 간격(gap)을 설정해준다. */
    /*
    ->grid에 대한 설명
    관련 링크: https://nykim.work/59 ( 엄청 자세하게 설명해놓음! )

    ->gird-gap에 대한 설명
    관련 링크: https://www.codingfactory.net/12441
    */
}

/* class 선택자 .calculator 안에 form 안에 input 전부에 대한 설명
자세히 보면 input type button이 적용된 곳에 검은 테두리가 있음 그거 전부 해주려고 설정해주는 것*/
.calculator form input {
    border: 2px solid rgb(230, 124, 142);
    cursor: pointer; /* 버튼 위에 올렸을 때 마우스의 커서가 바뀌기 위해, 원래는 삼각형 모양에서 손가락 모양으로 바뀜 */
    font-size: 19px;
}
/* 마우스가 button위에 올라갔을때 그림자가 생길 수 있게 적용해주는 부분 */
.calculator form input:hover {
    box-shadow: 1px 1px 2px #333;
    /* 수평 그림자, 수직 그림자, 번짐의 정도, 그림자 색깔*/
}

/* 버튼 C에 대한 설정 */
/* .calculator의 form태그 밑에 있는 .clear*/
.calculator form .clear {
    background-color: #f5ebeb;

}

/* /,*,+,-,= 버튼 영역부분 */
/* .calculator의 form태그 밑에 있는 .operatior */
.calculator form .operatior {
    background-color: ivory;
}

/* . 버튼 영역부분 */
/* .calculator의 form태그 밑에 있는 .dot */
.calculator form .dot {
    background-color: rgb(255, 255, 255);
    
}

/*.calculator form 안에 있는 input type=text 가 들어간 부분을 적용해주는 것*/
/*계산 결과가 나오는 화면을 넓게 지정해주기 위해*/
.calculator form input[type='text'] {
    grid-column: span 4;
    text-align: right; /*계산기 화면에 결과값을 오른쪽 정렬*/
    padding:0 10px;
}

/*c버튼 부분을 가로로 3칸 늘려주려고*/
.calculator form .clear {
    grid-column: span 3;
}

/* 등호버튼을 가로로 2칸 늘려주려고*/
.calculator form .result {
    grid-column: span 2;
}

/*
    색조합을 찾아주는 사이트
    링크: https://coolors.co/palettes/trending
*/

#but_1 {
    background-color: #fbf8cc; /*계산기의 배경색상*/
    color:#333 /*계산기의 글자 색상*/
}

#but_2{
    background-color: #fde4cf; /*계산기의 배경색상*/
    color:#333 /*계산기의 글자 색상*/
}

#but_3{
    background-color: #ffcfd2; /*계산기의 배경색상*/
    color:#333 /*계산기의 글자 색상*/
}

#but_4{
    background-color: #f1c0e8; /*계산기의 배경색상*/
    color:#333 /*계산기의 글자 색상*/
}

#but_5{
    background-color: #cfbaf0; /*계산기의 배경색상*/
    color:#333 /*계산기의 글자 색상*/
}

#but_6{
    background-color: #a3c4f3; /*계산기의 배경색상*/
    color:#333 /*계산기의 글자 색상*/
}

#but_7{
    background-color: #90dbf4; /*계산기의 배경색상*/
    color:#333 /*계산기의 글자 색상*/
}

#but_8{
    background-color: #8eecf5; /*계산기의 배경색상*/
    color:#333 /*계산기의 글자 색상*/
}

#but_9{
    background-color: #98f5e1; /*계산기의 배경색상*/
    color:#333 /*계산기의 글자 색상*/
}

#but_0{
    background-color: #b9fbc0; /*계산기의 배경색상*/
    color:#333 /*계산기의 글자 색상*/
}